[2021-10-02 20:40] justdvnsh opened #1 "New color scheme for the app"
This is an open discussion. We want a new and vibrant color scheme for the app. The colors should be complementary for both light and dark theme for the app

[2021-10-02 20:43] justdvnsh opened #2 "Add theme change button in the settings page."
We need to add a theme change button in the settings page. Upon clicking the button, a new dialog should open up, where the user can select whether to use the app in dark mode, light mode or system mode.

[2021-10-02 20:44] justdvnsh opened #3 "Add an about button in the settings page."
We need an about button in the settings page, which would tell users about the app and the workings behind it.

[2021-10-02 20:46] justdvnsh opened #4 "Make a new module for the glide dependencies"
We need a new module for the glide dependencies, such that glide can be injected anywhere in the app

[2021-10-02 20:47] justdvnsh opened #5 "Make a new module for the coroutines dependencies"
Make a new module for the coroutine dependencies to run on the Dispatcher threads such that they can be injected anywhere in the app.

[2021-10-02 20:48] justdvnsh opened #6 "Make a no internet connection layout"
Need a no internet connection error layout, which can be shown in case of no internet.

[2021-10-02 20:49] justdvnsh opened #7 "Make a general error layout"
We need to make a general error layout which can be shown in case of unwanted errors.

[2021-10-02 20:52] justdvnsh opened #8 "Handle the errors in search fragment"
There is a bug, that if we type the anime name wrong, such that there is no result for the typed anime, the app crashes. We want to show an error layout, describing the error to the user.

[2021-10-02 20:54] justdvnsh opened #9 "Handle the audio focus change in exoplayer"
We need to handle the audio focus changes by adding an audio focus change listener so that the audio focus dosen't change and make the user experience bad.

[2021-10-03 07:56] PranavVyas20 commented on #6
I want to work on this issue, can you please assign me

[2021-10-03 08:05] justdvnsh commented on #6
Hi @PranavVyas20 . So happy to have you here. Sure, I'll assign you this one. Happy coding.
The layout should look something like [this](https://drive.google.com/file/d/14Oy7zGvJxry2Zb87axjs1Us-BcDkSbuG/view?usp=sharing)

[2021-10-03 08:09] justdvnsh commented on #6
Also, please do star the repository @PranavVyas20 so that more people could be aware of this project. Thanks

[2021-10-03 10:19] shivamparihar12 commented on #7
I would like to work on this issue.

[2021-10-03 10:50] justdvnsh commented on #7
Hi @shivamparihar12 . We are so happy to have you here. Please go ahead in solving this issue. You can follow the design [here](https://drive.google.com/file/d/14Oy7zGvJxry2Zb87axjs1Us-BcDkSbuG/view?usp=sharing)

Make sure to make a databinding layout for this design, so that the text can be changed accordingly.

Also, please make sure to __star__ the repo so that more people can be aware of this

[2021-10-03 13:27] justdvnsh commented on #5
Solved with commit https://github.com/justdvnsh/AnimeClassroom/commit/504dab3b74e43c1bc9c96d6736b07da5d64b4c36

[2021-10-03 13:27] #5 closed

[2021-10-03 13:27] justdvnsh commented on #4
Solved with commit https://github.com/justdvnsh/AnimeClassroom/commit/504dab3b74e43c1bc9c96d6736b07da5d64b4c36

[2021-10-03 13:27] #4 closed

[2021-10-03 13:31] justdvnsh opened #10 "Create an error layout for exoplayer"
We want to create an error layout for the exoplayer for better visual feedback
![error_exoplayer](https://user-images.githubusercontent.com/29144058/135755789-cf870d14-9713-4380-91a1-31132be1e062.png)

[2021-10-03 16:37] shubham423 commented on #8
i would like to work on this issue can you assign it to me

[2021-10-03 16:51] justdvnsh commented on #8
Hi @shubham423 . We are so happy to have you here. i've assigned the issue to you. Happy coding.

Please do not forget to star the repo, so that more people can contribute to the project and use this project to complete their hacktoberfest.

[2021-10-04 03:24] rohitjakhar commented on #3
Can you assign me this issue ?

[2021-10-04 03:59] yash-k9 commented on #2
Hi @justdvnsh, I'd like to work on this issue!

[2021-10-04 06:08] sunny52525 commented on #10
Let me work on this

[2021-10-04 09:06] justdvnsh commented on #10
Hi @sunny52525 . We are so happy to have you here. I have assigned this issue to you. Happy coding.
Also, please make sure to star the repo, so that this project could help much more people during the hacktoberfest and in their open source journey. Thanks

[2021-10-04 09:08] justdvnsh commented on #3
@rohitjakhar Hi, we are so happy to have you here. I have assigned this issue to you. Happy coding.
Also, please make sure to star this repo, so that this project could help much more people during hacktoberfest and in their open source journey. Thanks

[2021-10-04 09:09] justdvnsh commented on #2
Hi, @yash-k9 .We are so happy to have you here. I have assigned this issue to you. Happy coding !
Also, please make sure to star this repo, so that it can help much more people during hacktoberfest and in their open source journey as well. Thanks

[2021-10-04 09:14] justdvnsh commented on #2
@yash-k9 . I have also added a reference image. This type of dialog should appear in case of the button click. Also, the theme should be changed based on the click. As for now, don't worry about retaining the theme. That would be done, when shared prefs has been added to the project. For now you just have to get the button working.

![uitheme](https://user-images.githubusercontent.com/29144058/135

[2021-10-04 09:23] justdvnsh opened #13 "Add shared preferences into the app."
We need to add shared preferences into the app, so that we can retain the instances like the UI theme of the app.

NOTE: - The shared preferences should be made like a container which can be injected anywhere we want.

The shared preference class should be made in a module which can be injected by dagger anywhere in the app. I have added a reference . Also, the file should be in the __DI package o

[2021-10-04 09:24] vishalram14 commented on #1
Hey, can I work on this?

[2021-10-04 09:28] justdvnsh commented on #1
Hi, @vishalram14 . We are so happy to have you here. I have assigned this issue to you. Happy coding.
Also, please star the repo, so that this project could help much more people during the hacktoberfest and also, help in their open source journey. Thanks

[2021-10-04 09:28] justdvnsh commented on #1
@vishalram14 Also, you can have multiple color schemes, and we can discuss it here, as to which one looks the best.

[2021-10-04 09:31] justdvnsh opened #14 "Make a modern Splash Screen Activity for the app"
We need a modern splash screen activity for the app. The screen should show app logo in the center of the screen for atleast 2 seconds. The logo can be found inside the docs folder of this repo.

[2021-10-04 09:33] justdvnsh opened #15 "Add a new onboarding activity for the app for first time users."
We need a new onboarding activity for the app, for first time users which would tell the users about the app's main functionality. The screen should be made using motion layout.

[2021-10-04 09:37] justdvnsh opened #16 "Speed selection in exoplayer."
Currently we have a button which shows 1x in the exoplayer and upon clicking on it a toast appears. We want to show a dialog upon clicking of that button, by which the users can select the speed of the player. the speed should range from 0.25x to 2x.

![speedSelection](https://user-images.githubusercontent.com/29144058/135828590-34fca71f-f96d-48f9-9cb1-879ad13b7ebb.png)

[2021-10-04 09:40] justdvnsh opened #17 "Video Quality Selection in exoplayer"
We need the users to be able to select the quality of the video in the player.

![quality](https://user-images.githubusercontent.com/29144058/135828998-a84c3d2b-0e44-40bd-aced-cd811771695d.png)

[2021-10-04 09:41] justdvnsh opened #18 "PIP mode in exoplayer"
We need the player to run in PIP mode upon clicking of the back button.

[2021-10-04 09:42] justdvnsh opened #19 "Add ViewPager2 in the favorites Fragment"
We need a viewpager2 in the favorites fragment, with 2 tabs. One for the saved animes and one for the saved mangas.

[2021-10-04 09:44] justdvnsh opened #20 "Add room support to save the animes."
We need to add offline support to save the animes locally.

[2021-10-04 10:07] vishalram14 commented on #1
Will post the colors as soon as I am done with em

[2021-10-04 10:52] vishalram14 commented on #1
![HighContrast](https://user-images.githubusercontent.com/89023989/135839038-cf214c9b-84d5-45d6-903a-0f8c631a3c27.jpeg)

[2021-10-04 10:52] vishalram14 commented on #1
High contrast theme

[2021-10-04 10:53] vishalram14 commented on #1
Tell me if it is ok or anything that you specifically want

[2021-10-04 11:01] PranavVyas20 commented on #6
@justdvnsh I am having a hard time implementing this, the network checker seems to work only in the MainActivity and the way I have implemented it is not the most efficient way, and I dont think I'll be able to implement it the correct way. Kindly unassign me and thanks for the opportunity to work on this issue.

[2021-10-04 11:04] justdvnsh commented on #1
@vishalram14 Nah ! This looks too bold. We would be going for some subtle colors. Let's keep it very minimal. Like some shade which would go with both white and black backgrounds. What do you think about it ?

[2021-10-04 11:05] vishalram14 commented on #1
Cool will work on it

[2021-10-04 11:05] justdvnsh commented on #6
@PranavVyas20 No worries. Thanks for trying it out. We have other issues open, if you'd like to work on them. Please comment on a suitable issue if you want and I'll assign you accordingly. Thanks for your time.

[2021-10-04 11:20] PranavVyas20 opened #22 "Implement a splash screen"
Kindly assign me on this one

[2021-10-04 11:24] justdvnsh commented on #22
There is already an issue for this one. https://github.com/justdvnsh/AnimeClassroom/issues/14. Kindly comment there.

[2021-10-04 11:24] #22 closed

[2021-10-04 11:25] vishalram14 commented on #1
![DarkTheme](https://user-images.githubusercontent.com/89023989/135843346-0fe136a1-aa9f-4fbe-bcfa-9f6077ca1857.jpeg)
![LightTheme](https://user-images.githubusercontent.com/89023989/135843353-4890843b-783f-473e-a888-c8d11713a601.jpeg)

[2021-10-04 11:28] justdvnsh commented on #1
@vishalram14 . Maybe the second one. Not exactly this, but maybe some scheme related to this.

[2021-10-04 11:28] PranavVyas20 commented on #14
Sorry didn't realize it was already opened. Kindly assign me on this one

[2021-10-04 11:29] vishalram14 commented on #1
Ok

[2021-10-04 11:31] vishalram14 commented on #1
what changes would you like in the second one then?

[2021-10-04 11:34] vishalram14 commented on #1
![Light](https://user-images.githubusercontent.com/89023989/135844583-020e598d-dbf6-44eb-bd32-c85bb4bef52e.jpeg)

[2021-10-04 11:42] vishalram14 commented on #1
![dark](https://user-images.githubusercontent.com/89023989/135845527-7df6113d-0a13-467c-8f1c-ee3887948b77.jpeg)

[2021-10-04 11:42] justdvnsh commented on #14
@PranavVyas20 No worries. We are happy to have you here. I have assigned the issue to you. Happy coding. Also, please star the repo, so that it can help other people as well.

[2021-10-04 11:43] justdvnsh commented on #1
Yeah the teal color with black looks good. Let's make it a darker green. For both dark and light themes. @vishalram14

[2021-10-04 11:44] vishalram14 commented on #1
make which one darker for the light theme ?

[2021-10-04 11:45] vishalram14 commented on #1
the manga activity screen doesn't display anything, so am not sure what to do there

[2021-10-04 11:46] justdvnsh commented on #1
make the green color darker. Like instead of teal, let's make that somewhat dark shade of green, for both, light and dark themes.

[2021-10-04 11:46] justdvnsh commented on #1
It's fine. Just change the colors in the themes. The other screens would automatically take up the color.

[2021-10-04 11:47] vishalram14 commented on #1
so do you want me to replace the Blue in light theme also with dark green?

[2021-10-04 11:47] justdvnsh commented on #1
Yup. I think it would look good.

[2021-10-04 11:47] vishalram14 commented on #1
Ok

[2021-10-04 12:36] iamsandipanbera commented on #14
Assign me please

[2021-10-04 13:01] vishalram14 commented on #1
![alternate](https://user-images.githubusercontent.com/89023989/135855949-eeaf469e-38a2-4055-bd20-ee263b08411f.jpeg)

[2021-10-04 13:03] justdvnsh commented on #14
hehe. This is not how this works @iamsandipanbera . @PranavVyas20 Has already commented on this issue first. I have already assigned this issue to him. I can only assign you this issue, if @PranavVyas20 is fine with it and doesn't want to work on this issue. Please don't mind. This is how open source is supposed to work.

[2021-10-04 13:05] vishalram14 commented on #1
What exactly is the recycler item here?

[2021-10-04 13:10] #6 closed

[2021-10-04 13:20] vishalram14 commented on #1
![dark alernate](https://user-images.githubusercontent.com/89023989/135858715-29d86340-173c-493b-bd0c-15ad8fd9c478.jpeg)

[2021-10-04 13:21] vishalram14 commented on #1
Anymore Changes , have posted both the light and dark themes here, will send a PR if confirmed

[2021-10-04 14:06] krishnachaitanya0107 commented on #19
@justdvnsh , Hey , I wish to work on this issue . If this issue is still open , Can you please assign it to me .

[2021-10-04 14:09] justdvnsh commented on #19
Hi @krishnachaitanya0107 Thanks for your interest. We are so happy to have you here. Please pull the latest commits before working on this issue. Also, please star the repo. It really helps a lot.

[2021-10-04 15:45] bagashyt commented on #16
Hi @justdvnsh, i would like to work on this issue can you assign it to me?

[2021-10-04 16:07] justdvnsh commented on #16
Hey @bagashyt. We are so happy to have you here. I have assigned you the issue. Happy coding.

And please remember to star the repo, so that more people can use this project to complete their hacktoberfest and as a milestone for their open source journey. thanks again.

[2021-10-04 18:07] bagashyt commented on #16
Hi @justdvnsh, would you mind if I make Playback Speed **alertDialog** like this?
![photo_2021-10-05_00-02-13](https://user-images.githubusercontent.com/67151654/135893920-41b000cd-aa5d-4b6f-9dd2-a295bf2c47bc.jpg)

I found this playback speed style is often used in streaming app
<!DOCTYPE html>
<body>
    <details>
        <summary>Youtube</summary>
<img src="https://user-images.githubusercontent.

[2021-10-04 18:08] justdvnsh commented on #16
@bagashyt Yeah sure. Go fot it. I just gave a reference for the view. Go for the view you are suggesting.

[2021-10-04 19:14] PranavVyas20 commented on #14
@justdvnsh  Would this go well with the app? Or should I change it to a normal static logo

https://user-images.githubusercontent.com/90063033/135910412-b6f8e34d-ebdc-4117-8099-c5e27eb25816.mp4

Or something like this :

https://user-images.githubusercontent.com/90063033/135910818-8862073f-1ab2-448c-9da6-b3c7635d617b.mp4

[2021-10-04 19:18] justdvnsh commented on #14
@PranavVyas20 Ohh damn. This looks really really cool. I love it. Just add a text for the app name below the image. I recommend the above one, the dynamic one.

[2021-10-04 19:37] PranavVyas20 commented on #14
Have a look at this, should I make a PR now ?

https://user-images.githubusercontent.com/90063033/135913906-af83f7a5-a0c5-417e-946f-36ae451b0e23.mp4

[2021-10-05 06:14] krishnachaitanya0107 commented on #19
Thank You so much @justdvnsh for allowing me to work on this issue .
I have attempted to solve the issue and before sending a pull request could you please check out the implementation ( i have attached a screen recording of the implementation ) and please do let me know if there are any changes or improvements which can be done , I will be glad to implement them .

https://user-images.githubuserc

[2021-10-05 06:21] justdvnsh commented on #19
@krishnachaitanya0107 It is perfectly fine. Thanks for your contribution. Please make a PR for this. Also, please don't forget to star the repo. It really helps. Thanks again

[2021-10-05 06:24] justdvnsh commented on #14
@PranavVyas20 Can we do the same, that is write the name of the app on this image.

https://user-images.githubusercontent.com/90063033/135910412-b6f8e34d-ebdc-4117-8099-c5e27eb25816.mp4

[2021-10-05 06:27] krishnachaitanya0107 commented on #19
Thank You @justdvnsh for the quick response . I have already stared this amazing repo . It was great working on this issue . I am opening a pull request .

[2021-10-05 06:28] justdvnsh commented on #19
@krishnachaitanya0107 go for it.

[2021-10-05 06:47] PranavVyas20 commented on #14
My bad I thought you liked the second one, sure will do that :)

[2021-10-05 07:12] vishalram14 commented on #1
Waiting for confirmation

[2021-10-05 08:01] justdvnsh opened #28 "JOIN THE SLACK CHANNEL FOR DISCUSSIONS ABOUT THE APP - https://join.slack.com/t/animeclassroom/shared_invite/zt-wut0t5mp-Y4kF6OGyxLBpyNM0eU6psw"
Please join the slack channel for the discussions about the app.
https://join.slack.com/t/animeclassroom/shared_invite/zt-wut0t5mp-Y4kF6OGyxLBpyNM0eU6psw

[2021-10-05 08:07] justdvnsh opened #29 "[UT-1] Write a unit test for the parsePopularAnimeJson() function of the AnimeParser inside the domain module"
[UT-1] We need to Write a unit test for the parsePopularAnimeJson() function of the AnimeParser inside the domain module. I'll provide a test response for the same.

[2021-10-05 08:09] justdvnsh opened #30 "[UT-2] Write a unit test for the parseRecentReleaseJson() function of the AnimeParser inside the domain module"
[UT-2] We need to Write a unit test for the parseRecentReleaseJson() function of the AnimeParser inside the domain module

[2021-10-05 08:10] justdvnsh opened #31 "[UT-3] Write a unit test for the parseGenresAnimesJson() function of the AnimeParser inside the domain module"
[UT-3] We need  to Write a unit test for the parseGenresAnimesJson() function of the AnimeParser inside the domain module

[2021-10-05 08:10] justdvnsh opened #32 "[UT-4] Write a unit test for the parseAnimeDetails() function of the AnimeParser inside the domain module"
[UT-4] We need to Write a unit test for the parseAnimeDetails() function of the AnimeParser inside the domain module

[2021-10-05 08:11] justdvnsh opened #33 "[UT-5] Write a unit test for the parseEpisodeDetails() function of the AnimeParser inside the domain module"
[UT-5] We need to Write a unit test for the parseEpisodeDetails() function of the AnimeParser inside the domain module

[2021-10-05 08:12] justdvnsh opened #34 "[UT-6] Write a unit test for the parseStreamingUrl() function of the AnimeParser inside the domain module"
[UT-6] We need to Write a unit test for the parseStreamingUrl() function of the AnimeParser inside the domain module

[2021-10-05 08:15] justdvnsh commented on #1
let's discuss it on slack. Join the slack channel @vishalram14 . I need to have other peoples confirmation as well.

[2021-10-05 08:16] justdvnsh opened #35 "Add video downloading feature"
We want to add a video downloading feature inside the app.

[2021-10-05 08:39] vishalram14 commented on #1
Could you just finalize the colors with your team and inform me

[2021-10-05 08:53] justdvnsh opened #36 "Change the Video player to motion layout to make it a youtube like miniplayer"
We want to change the video player to make it a youtube like miniplayer, which can be slide up and down as and when required.

[2021-10-05 08:55] justdvnsh opened #37 "Add animations in the navigation file for more beautiful fragment transactions"
We would want to add animations in the navigation file for more beautiful fragment transactions. We can simply add animations xml's in the main navigation file.

[2021-10-05 11:23] justdvnsh commented on #1
@vishalram14 There's no team man. There's only you guys. The contributors are team 😂. I am just waiting for them to confirm if they like the color scheme.

[2021-10-05 11:39] vishalram14 commented on #1
Create a poll for the colours they want for the app background, the drawer and the circles(genre background)
Will then change the colours accordingly. This is the fastest way I can think of.

[2021-10-05 12:23] #10 closed

[2021-10-05 13:27] yash-k9 commented on #2
Hi @justdvnsh , I have made the following changes, does this look good?![Screenshot_2021-10-05-18-57-04-645_divyansh.tech.animeclassroom.jpg](https://user-images.githubusercontent.com/59912430/136032218-fd54530c-e3af-4b6e-b237-e2819f6373c0.jpg)

[2021-10-05 13:37] justdvnsh commented on #2
@yash-k9 Yes it does look good. Please make a pr for further review

[2021-10-05 14:25] justdvnsh commented on #2
Solved ! #43

[2021-10-05 14:26] justdvnsh commented on #7
Solved #26

[2021-10-05 14:26] #7 closed

[2021-10-05 14:26] justdvnsh commented on #8
solved #25

[2021-10-05 14:26] #8 closed

[2021-10-05 14:27] justdvnsh commented on #14
Solved #42

[2021-10-05 14:27] #14 closed

[2021-10-05 14:27] justdvnsh commented on #16
Solved #38

[2021-10-05 14:27] #16 closed

[2021-10-05 14:28] justdvnsh commented on #19
Solved #27

[2021-10-05 14:28] #19 closed

[2021-10-05 14:54] shubham423 commented on #37
hi @justdvnsh i would like to work on this can you please assign it to me

[2021-10-05 14:57] justdvnsh commented on #37
Hi i have assigned this issue to you @shubham423 . Happy coding

[2021-10-05 15:12] yash-k9 commented on #13
Hi @justdvnsh, I'd like to work on this. I have a question, are we going to store only UI Theme Data?

[2021-10-05 15:35] justdvnsh commented on #13
@yash-k9 Hi, yes as for now we are only going to store the ui theme data, but later we'll be storing a few more things liks recent searches and stuff. Happy coding.

[2021-10-05 15:43] shubham423 commented on #37
@justdvnsh  as you have updated gitignore file, now we don't have worry about .idea files getting committed right? we just have to make a separate branches and simply commit the changes without worrying about excluding .idea files ?

[2021-10-05 15:59] justdvnsh commented on #37
@shubham423 Yeah just be sure to pull the latest changes from the main repo.

[2021-10-05 16:19] sunny52525 commented on #18
I can work on this.

[2021-10-05 17:36] bagashyt commented on #9
Hi @justdvnsh, I would like to contribute to this issue, if this issue is still open could you assign me?

[2021-10-05 17:39] justdvnsh commented on #9
Hi @bagashyt Happy coding

[2021-10-05 17:40] justdvnsh commented on #18
@sunny52525 Hi. Happy to have you here. Please star the repo so that it could help other people as well.

[2021-10-05 18:19] binaryshrey commented on #15
Hi, I would like to take up this task.
One qq - Can lottie animations be included in the onboarding screen, or is it strictly restricted to motion layout?

[2021-10-05 19:41] justdvnsh commented on #37
Solved #44

[2021-10-05 19:41] #37 closed

[2021-10-05 19:45] justdvnsh commented on #15
@binaryshrey Hi. Thanks for your interest in this project. We are so happy to have you here. Please dont forget to star the repo, it really helps us a lot. Thanks. And you can use Lottie for the animations. There is no restriction as such to use motion layout. If you feel you can use lottie for the onboarding , go for it. Thanks again.

[2021-10-06 05:06] azimsidd commented on #17
Hi, This is Azim and I have participated in HacktoberFest. I go through this repository and would like to implement this functionality. can you please assign this issue to me?

[2021-10-06 07:57] justdvnsh commented on #17
Hi @azim567 . We are so happy to have you here. I have assigned the task to you. Happy coding.

Also, please star the repo. It really helps us and the new contributors a lot. thanks

[2021-10-06 07:57] #17 closed

[2021-10-06 09:34] vishalram14 commented on #1
Any updates?

[2021-10-06 09:38] justdvnsh opened #45 "Add a bottom sheet for the AnimeDetail page, where the episodes can be shown"
Currently, the design for anime Detail page is not feasible. Bigger animes have more than 500 episodes. Scrolling the episodes right now is not good at all. We need a new solution. One solution i thought of was to add a bottom sheet with the recycler view of episodes. Something like the comment sheet of github app. The user must be able to pull the bottom sheet from bottom, and the list of episode

[2021-10-06 11:04] azimsidd commented on #17
thankyou

On Wed, 6 Oct 2021, 13:27 Divyansh Dwivedi, ***@***.***>
wrote:

[2021-10-06 13:05] Bhyan commented on #32
Hi @justdvnsh  can you assign it to me? I'm studying how to test the suspended functions, but it works. I have experience in java testing so I think testing in kotlin will be easy.

[2021-10-06 13:29] justdvnsh commented on #32
Hi @Bhyan . We are so happy to have you here. Yeah sure, I get it. I am assigning you this task. Happy coding.

Also, please star the repo, if possible. It really helps us a lot. Thanks

[2021-10-06 13:29] justdvnsh commented on #20
Solved with commit 6e5b38b

[2021-10-06 13:29] #20 closed

[2021-10-06 13:33] justdvnsh opened #46 "Add Offline caching in the home page"
Room has been added to the project. Now, we need offline caching for the homescreen. The method would be pretty straight forward.
The very time network request is made and then first saved into the database. Then the data on the homescreen would actually be coming from the database everytime instead of network directly.

This would help us achieve 2 things ->
- User would only the loading screen f

[2021-10-06 13:34] justdvnsh opened #47 "Add Offline Caching in the Manga Page"
Room has been added to the project. Now, we need offline caching for the manga page. The method would be pretty straight forward.
The very time network request is made and then first saved into the database. Then the data on the manga screeb would actually be coming from the database everytime instead of network directly.

This would help us achieve 2 things ->
- User would only the loading screen

[2021-10-06 16:29] vishalram14 commented on #1
These are the final colour schemes (both light and dark)
![Screenshot_1633537543](https://user-images.githubusercontent.com/89023989/136245073-ca7d92ca-7d86-4cd3-aeee-91f986b6b5ec.png)

![Screenshot_1633537519](https://user-images.githubusercontent.com/89023989/136245079-454726ea-cddd-42b1-91ea-99c58ce675f3.png)
![Screenshot_1633537605](https://user-images.githubusercontent.com/89023989/136245236-

[2021-10-06 16:34] vishalram14 commented on #1
These are the final colour schemes ( for both light and dark themes

![Light_Home](https://user-images.githubusercontent.com/89023989/136245997-c899c648-c83a-4acc-ab4b-c392de115d80.png)
![Light_2ndActivity](https://user-images.githubusercontent.com/89023989/136246008-296e0a7b-2088-4277-87e8-285a526f4224.png)
![Dark_Home](https://user-images.githubusercontent.com/89023989/136246015-0a7a3314-7b92-4d

[2021-10-06 17:35] sunny52525 opened #49 "Play pause not working"
Tested on commit :6e5b38ba2660a3c2b7984448b2e9d18a386f6f99 , play pause buttons are merged on each other
![Screenshot_20211006-230356](https://user-images.githubusercontent.com/30768018/136254664-c7d28908-0f42-4c2a-84d5-0cb976b2733c.png)

[2021-10-06 18:43] justdvnsh commented on #49
@sunny52525 Fixed this bug in https://github.com/justdvnsh/AnimeClassroom/commit/68baaa5f9e5ab66a2a5ab506d4e276bc8288a9f1

Can you confirm it ? Take the pull of the latest branch and then take a look

[2021-10-07 08:21] krishnachaitanya0107 commented on #46
Hey @justdvnsh , can you please assign this issue to me ? . I wish to try out this issue if it is still open .

[2021-10-07 08:41] justdvnsh commented on #46
@krishnachaitanya0107 Happy coding

[2021-10-07 09:43] justdvnsh opened #51 "Populate the Anime screen of favorites fragment with the saved data."
Room has been implemented into the app. The Anime tab of the favorites section need to be populated with the OfflineAnimes. The function to get The saved animes has already been added. You just need to include the favorites inside of the viewModel and then use the function.
Note the recycler view needs to be populated using epoxy. You can take reference from the other recycler view that have been

[2021-10-07 09:45] justdvnsh opened #52 "Add a function in room to check if the anime is already present in the database."
We need to write a function in room to check if the anime is already present in database, so that we can populate the favorites icon in the AnimeDetailFragment based on the result.

[2021-10-07 09:47] justdvnsh opened #53 "Add a new binding adapter to automatically set the favorites icon if the anime is already saved in the database."
Add a new binding adapter to automatically set the favorites icon if the anime is already saved in the database. We need to check if the anime is present inside of the database. If it is we will set the Favorites icon to ic_favorite otherwise ic_unfavorite.

[2021-10-08 06:49] Rishavgupta12345 commented on #1
can i work on this ?

[2021-10-08 06:49] Rishavgupta12345 commented on #36
can i work on this issue ?

[2021-10-08 06:50] Rishavgupta12345 commented on #3
can i work on this ?

[2021-10-08 16:40] Rarj commented on #53
Hi @justdvnsh , you can assign this issue to me. I will work with this issue.
Thanks!

[2021-10-09 08:12] justdvnsh commented on #53
Hi @Rarj . We are so happy to have you here. I have assigned the issue to you. Happy coding.

Please star the repo, if possible. It really helps us out a lot.

[2021-10-09 08:13] justdvnsh commented on #3
@rohitjakhar Any updates on this. If you are not able to work on this, we can assign @Rishavgupta12345 to it.

[2021-10-09 08:14] justdvnsh commented on #36
@Rishavgupta12345 Yeah sure. We are so happy to have you here. Happy coding. Please star, the repo, if possible. It really helps a lot.

[2021-10-09 08:21] pauliancu97 commented on #51
Hello, I'm interested in this project and I want to contribute by implementing a solution for this issue. Can I be assigned this task?

[2021-10-09 10:50] rohitjakhar commented on #3
Yes, i clone project and understand that
Can you tell more about that button ?
like after click on that where we navigate user ?

[2021-10-09 11:09] AdiAr11 commented on #3
Hi, I can also help with this if its alright.

[2021-10-10 11:42] #51 closed

[2021-10-10 11:51] justdvnsh commented on #3
Hi, @AdiAr11 . We are so happy to have you here. I am assigning you since there is no reply from @rohitjakhar . Please star the repo. It really helps us a lot. Thanks

[2021-10-10 11:53] justdvnsh opened #58 "Create a motion layout for anime detail page."
Currently, when scrolled the anime detail page scrolls completely. Including the title bar. We want a similar behaviour for the title bar as in home page.

[2021-10-10 11:54] justdvnsh opened #59 "Create a motion layout for the manga detail page"
Currently, the manga detail page scrolls completely along with the title bar. We want a  similar behavior of title bar as to home page.

[2021-10-10 11:56] justdvnsh opened #60 "Add a new binding adapter to save the favorites manga, if the manga is already saved in the database."
Add a new binding adapter to automatically set the favorites icon if the manga is already saved in the database. We need to check if the manga is present inside of the database. If it is we will set the Favorites icon to ic_favorite otherwise ic_unfavorite.

[2021-10-10 11:58] justdvnsh opened #61 "Save manga in the database"
The manga page has been made. We need to save manga in the database too. The work would be similar to saving the animes in the database which has already been added. Remember to follow the same coding style as been done in animes.

[2021-10-10 11:59] justdvnsh opened #62 "Show the saved mangas in the mangas tab of Favorites fragment"
We need to show the saved mangas in the mangas of the favorites fragment. The saved animes are already being shown. You need to follow the same guidelines as done in save Anime.

[2021-10-10 12:04] justdvnsh opened #63 "Create a motion layout for the manga title bar."
Currently, the title bar of manga reader takes up a lot of space when the manga title is too large. We need a similar behavior of title bar as in home page. Remember, the text should be wrapped if the title is too large

![mangaTitle](https://user-images.githubusercontent.com/29144058/136694732-8cf4966b-1263-4610-b4f3-b333b5533c1b.jpg)

[2021-10-10 12:11] justdvnsh opened #64 "exoplayer previous and next buttons must be disabled if a user clicks on it once."
The previous and next episode buttons in the exoplayer can be clicked multiple times. This leads to quick navigation between episodes. However, we want that the previous and next buttons should be clicked only once. And they must be enabled when the previous or next video has been loaded.

[2021-10-10 12:12] justdvnsh opened #65 "Change the style of previous and next buttons in exoplayer"
Currently the previous and next buttons in exoplayer are just simple text views. We want something graceful as the previous and next buttons,which looks good on the screen.

[2021-10-10 12:14] justdvnsh opened #66 "Add screenshots in the README file."
With manga player being added to the app, we are almost at the end of completion of the app. We can now add screenshots of the app in the readme just after the product roadmap.

[2021-10-10 12:15] justdvnsh opened #67 "Add xml animations in the app where left out."
There are some pages in the where the XML animations in jetpack navigation has not been added like all the manga pages. We need to add XML animations there too. You can just copy the code from the pages where they have already been added.

[2021-10-10 12:18] justdvnsh opened #68 "Add correct error layout for the SSLCert Exception"
Try playing Ghost in the Shell episodes. There the player is not able to play the videos as the server is behind a firewall and load balancer. We cannot get the SSL Certificate for that server. So, the player currently shows the error as No internet found. However, we need to show an appropriate error message in the player. Like, "This video could not be played due to SSL Certificate not being fou

[2021-10-10 12:20] justdvnsh opened #69 "Add new icon pack for the app"
Currently the icons used in the app are the ones which are already provided by android studio by default. We want some new suitable icons for the app which go with the theme.

[2021-10-10 12:23] justdvnsh opened #70 "Add a loading layout in the app"
Currently there is no loading visual feedback in the app. The user is not able to know if the data is being loaded. We need a new common loading layout in the app which we can include in any layout and it should work just fine. Try adding the layout based on live data, which would be controlled from the Common View Model. Currently, the navigation is being controller from the CommonViewModel. Simi

[2021-10-10 13:55] AdiAr11 commented on #3
sure. Thank you so much for the opportunity.

[2021-10-10 16:16] yash-k9 commented on #13
Hi @justdvnsh, I've added Shared Preference and raised PR. Pls let me know if there are any other changes that need to be added in this issue.

[2021-10-10 18:14] #49 closed, assigned to nobody

[2021-10-11 05:29] bagashyt commented on #66
hi @justdvnsh, I want to work on this issue, could you assign it to me?

[2021-10-11 07:46] justdvnsh commented on #66
Hi @bagashyt . Sure. I have assigned it to you. Happy coding.

[2021-10-12 05:48] AdiAr11 commented on #45
how's this issue coming along? yes right now it is difficult to scroll through multiple episodes. we can reduce the size of card view. We can also do what you suggested about adding bottom sheet.

[2021-10-12 06:12] Rishavgupta12345 commented on #69
CAN I WORK ON THIS ?

i will make the below image as your app icon
![app_icon](https://user-images.githubusercontent.com/74723804/136901581-f44028b9-373c-4b04-95fb-f973b48956b4.png)
😎

[2021-10-12 11:08] justdvnsh opened #74 "Make a new database table for the offline cache"
As offline cache has been added to the app, it has disrupted the flow of favorites tab. Since both data is being saved in one single table, so it has messed up the database. We want to save the offline cache into a separate database. The solution to this would be pretty simple. We don't need new entities for cache. We can simply create a new database for cache specifically.

[2021-10-12 11:09] justdvnsh commented on #74
@krishnachaitanya0107 Want to take this up ?

[2021-10-12 11:09] justdvnsh commented on #74
@krishnachaitanya0107 Want to take this up ?

[2021-10-12 11:10] krishnachaitanya0107 commented on #74
Sure @justdvnsh , It would be great if you can guide me a bit on this issue .

[2021-10-12 11:14] justdvnsh commented on #74
@krishnachaitanya0107 Sure. Well, you don't have to do anything. You just have to create a new file like AnimeDatabase which would also be a room database, but would provide different Dao. that dao would be looking up for animes, deleting animes and everything from the cache anime database you just created. Finally in the database module, provide your database to be injected into the dao. And then

[2021-10-12 11:22] justdvnsh opened #75 "Add support us button in the settings page."
We need a support us button in the settings which would take the user to this github repo.

[2021-10-12 11:23] justdvnsh opened #76 "Add talk to us button in the settings page."
We need to add a talk to us button in the settings page. That would take us to the slack workspace upon clicking. The slack workspace joining url can be found in the readme file.

[2021-10-12 11:25] justdvnsh commented on #69
hehe. @Rishavgupta12345 That is already our app icon. By icon pack I mean the icons that are being used inside the app. For example the home page icon, the search icon, the favorites icon etc. That being said, do you still want to take up this issue ?

[2021-10-12 11:26] #46 closed

[2021-10-12 11:27] justdvnsh commented on #46
Solved with PR #56

[2021-10-12 11:44] krishnachaitanya0107 commented on #74
All right @justdvnsh , I will start working on the issue . If I feel stuck anywhere I will let you know . Please assign it to me .

[2021-10-12 11:49] AdiAr11 commented on #76
can i work on this issue?

[2021-10-12 11:49] AdiAr11 commented on #75
can i work on this issue as well?

[2021-10-12 11:59] justdvnsh commented on #74
@krishnachaitanya0107 Sure. Happy coding

[2021-10-12 12:01] justdvnsh commented on #76
@AdiAr11 Sure. Happy coding.

[2021-10-12 12:03] justdvnsh commented on #75
Hi @AdiAr11 . Sure . Assigning it to you. Happy coding

[2021-10-12 12:31] AdiAr11 commented on #76
thank you.!

[2021-10-12 12:32] AdiAr11 commented on #75
thank you .!

[2021-10-12 14:45] yash-k9 commented on #62
Hi @justdvnsh, I'd like to work on this!

[2021-10-12 14:55] justdvnsh commented on #62
Hi @yash-k9 . Sure. Happy coding.

[2021-10-13 05:03] Rishavgupta12345 commented on #69
okk i got it now 😬😬 ,  yea i will work on it . assign me

[2021-10-13 06:39] Rishavgupta12345 commented on #69
@justdvnsh i suggest you to upload this project in play store ....  it would be great

[2021-10-13 06:42] justdvnsh commented on #69
@Rishavgupta12345 I wish. Unfortunately we cannot. It violates their policy services. This app can only be released on free platforms like FDroid

[2021-10-13 11:52] AdiAr11 commented on #76
@justdvnsh please let me know if any changes are required.

[2021-10-13 16:35] justdvnsh commented on #13
Solved by #71

[2021-10-13 16:35] #13 closed

[2021-10-13 16:41] #74 closed, assigned to krishnachaitanya0107

[2021-10-15 11:49] yash-k9 commented on #62
Hi @justdvnsh, I've raised a PR. This feature is linked with the #47 and #61 issues. If those issues are not assigned to anyone, can I work them?

[2021-10-15 12:02] justdvnsh commented on #62
Hi @yash-k9 . sure. You can. Thank you for your contributions. Please comment on those issues so that i can assign them to you. Also, do checkout my other project wallup at https://github.com/justdvnsh/WallUP and you can contribute there as well if you want. Thanks again

[2021-10-15 16:25] yash-k9 commented on #62
Yeah sure, thanks! :)

[2021-10-15 16:28] yash-k9 commented on #47
@justdvnsh, please assign me this issue!

[2021-10-15 16:33] justdvnsh commented on #47
@yash-k9 Happy coding.

[2021-10-15 17:26] AdiAr11 opened #86 "Changing the UI of Settings Page"

[2021-10-15 18:59] Bhyan commented on #29
Hi @justdvnsh can you assigness this issue for me ?

[2021-10-15 19:00] Bhyan commented on #30
Hi @justdvnsh can you assigness this issue for me ?

[2021-10-15 19:00] Bhyan commented on #31
Hi @justdvnsh can you assigness this issue for me ?

[2021-10-15 19:01] Bhyan commented on #33
Hi @justdvnsh can you assigness this issue for me ?

[2021-10-15 19:02] justdvnsh commented on #29
@Bhyan happy coding

[2021-10-15 19:03] justdvnsh commented on #30
@Bhyan Happy coding

[2021-10-15 19:03] justdvnsh commented on #31
@Bhyan Happy coding

[2021-10-15 19:04] justdvnsh commented on #33
@Bhyan Happy coding

[2021-10-16 12:38] AdiAr11 commented on #86
@justdvnsh  you can assign this issue to me and I'll update the settings page ui to that of your other project

[2021-10-16 12:45] justdvnsh commented on #86
@AdiAr11 Happy coding

[2021-10-17 11:49] justdvnsh opened #87 "Getting a null pointer exception sometimes as the app opens."
Sometimes, as soon as the app opens the app crashes. We are getting a null pointer exception in that case. Maybe some dependency is not getting injected at that time or maybe it is due to the live data which is passing null value maybe. We need to debug the issue and fix it.

[2021-10-17 11:52] justdvnsh opened #88 "Need to create different Custom Exceptions for different kind of errors"
Currently, there are 4 major types of errors which can occur in the app.

- No internet
- Could not parse (when the parser is unable to parse some response -> completed)
- 404 Exception (as the manga page is added we changed the search and genre page to show manga along with the animes. However, in some cases -> Like a genre is present in manga but not in Anime, we'll get a 404 response. The app c

[2021-10-19 12:32] #86 closed, assigned to AdiAr11

[2021-10-19 15:15] justdvnsh opened #91 "Update the offline Cache"
Currently, as the offline cache has been implemented, the home screen is only showing the cache data. We need to always update the cache before showing it to the user.

[2021-10-19 22:59] vicky-tech commented on #65
can i pick this issue?

[2021-10-23 14:57] Devendra34 commented on #64
Hi, can I work on this issue?

[2021-12-26 21:02] EuniDoll opened #98 "Videos don't play & App Crashes"
Is this app still being worked on? The app app won't play videos and will crash whenever I try to watch something
![Screenshot_20211226-130117_AnimeClassroom](https://user-images.githubusercontent.com/88069171/147420016-7e6e13c4-5d3e-4aa3-87e3-a8785eb15423.jpg)

[2021-12-26 22:11] justdvnsh commented on #98
Hi @EuniDoll .
I got to know about the issue today. I am actively looking for the issue. Will try to resolve this within 2-3 days.
Thanks for reporting.

[2021-12-27 06:19] ShinNouzen opened #99 "Cant play videos"
And please make an apk supported  for tv so i can use it and watch on my tv

[2021-12-27 06:58] Dvixe opened #100 "Not playing"

[2021-12-28 22:57] GU9T opened #101 "Videos dont play"
Cant watch the videos or favorite manga
Please fix asap its been a few day now

[2021-12-31 19:41] Topstepper opened #102 "App crashes"
App keep on crashing when i try to watch a video sometime when I stay on the page it crashes to

[2022-01-01 16:08] Dvixe opened #103 "Videos not playing when it's gonna be fixed"

[2022-01-19 17:17] GoluLiliput opened #105 "The development of this app is stopped??? The anime doesn't play"

[2022-01-19 17:17] GoluLiliput opened #106 "App development stopped?"
No anime is working

[2022-09-04 05:06] Luffyokkk commented on #106
No anime is working

[2022-09-28 00:18] poseidon2060 commented on #65
Can I work on this issue?

[2022-10-25 15:02] rishujam commented on #91
Hey, can I work on this.